body {
  background-image: linear-gradient(to top, #fad0c4 0%, #ffd1ff 100%);
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  text-align: left;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.end {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 50vh;
}

.dog {
  width: 20%;
  height: 80%;
  background: rgba(255, 255, 255, 0.6) url(../Uebung1/images/dog.png) no-repeat center;
  background-size: contain;
  border-radius: 30px 30px;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.1);
}

.image-text-box {
  display: flex;
  height: 20%;
  margin: 2vw;
  padding: 10px;
}

.image-text-box > * {
  padding: 10px;
}

@keyframes bang {
  from {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
.hover-me {
  cursor: pointer;
  position: relative;
}
.hover-me span {
  color: #333;
  font-size: 0.9em;
}
.hover-me i {
  position: absolute;
  display: block;
  left: 50%;
  top: 0;
  width: 6px;
  height: 9px;
  background: red;
  opacity: 0;
}
.hover-me:hover i:nth-of-type(1) {
  transform: translate3d(90px, -88px, 0) rotate(84deg);
  background: hsl(47, 100%, 50%);
  animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.hover-me:hover i:nth-of-type(2) {
  transform: translate3d(69px, -54px, 0) rotate(119deg);
  background: hsl(54, 100%, 50%);
  animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.hover-me:hover i:nth-of-type(3) {
  transform: translate3d(33px, -86px, 0) rotate(26deg);
  background: hsl(304, 100%, 50%);
  animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.hover-me:hover i:nth-of-type(4) {
  transform: translate3d(39px, -65px, 0) rotate(255deg);
  background: hsl(150, 100%, 50%);
  animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.hover-me:hover i:nth-of-type(5) {
  transform: translate3d(-99px, -90px, 0) rotate(207deg);
  background: hsl(184, 100%, 50%);
  animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.hover-me:hover i:nth-of-type(6) {
  transform: translate3d(44px, -72px, 0) rotate(351deg);
  background: hsl(85, 100%, 50%);
  animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.hover-me:hover i:nth-of-type(7) {
  transform: translate3d(6px, -90px, 0) rotate(222deg);
  background: hsl(24, 100%, 50%);
  animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.hover-me:hover i:nth-of-type(8) {
  transform: translate3d(7px, -76px, 0) rotate(39deg);
  background: hsl(127, 100%, 50%);
  animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.hover-me:hover i:nth-of-type(9) {
  transform: translate3d(-66px, -67px, 0) rotate(28deg);
  background: hsl(292, 100%, 50%);
  animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.hover-me:hover i:nth-of-type(10) {
  transform: translate3d(-42px, -69px, 0) rotate(163deg);
  background: hsl(201, 100%, 50%);
  animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.hover-me:hover i:nth-of-type(11) {
  transform: translate3d(1px, -71px, 0) rotate(201deg);
  background: hsl(343, 100%, 50%);
  animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.hover-me:hover i:nth-of-type(12) {
  transform: translate3d(19px, -82px, 0) rotate(92deg);
  background: hsl(146, 100%, 50%);
  animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.hover-me:hover i:nth-of-type(13) {
  transform: translate3d(-13px, -99px, 0) rotate(149deg);
  background: hsl(277, 100%, 50%);
  animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.hover-me:hover i:nth-of-type(14) {
  transform: translate3d(-89px, -85px, 0) rotate(64deg);
  background: hsl(305, 100%, 50%);
  animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.hover-me:hover i:nth-of-type(15) {
  transform: translate3d(-88px, -54px, 0) rotate(161deg);
  background: hsl(237, 100%, 50%);
  animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.hover-me:hover i:nth-of-type(16) {
  transform: translate3d(-2px, -71px, 0) rotate(80deg);
  background: hsl(217, 100%, 50%);
  animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.hover-me:hover i:nth-of-type(17) {
  transform: translate3d(-7px, -70px, 0) rotate(150deg);
  background: hsl(74, 100%, 50%);
  animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.hover-me:hover i:nth-of-type(18) {
  transform: translate3d(23px, -90px, 0) rotate(219deg);
  background: hsl(176, 100%, 50%);
  animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.hover-me:hover i:nth-of-type(19) {
  transform: translate3d(17px, -68px, 0) rotate(267deg);
  background: hsl(335, 100%, 50%);
  animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.hover-me:hover i:nth-of-type(20) {
  transform: translate3d(24px, -88px, 0) rotate(20deg);
  background: hsl(121, 100%, 50%);
  animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.hover-me:hover i:nth-of-type(21) {
  transform: translate3d(36px, -76px, 0) rotate(167deg);
  background: hsl(170, 100%, 50%);
  animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.hover-me:hover i:nth-of-type(22) {
  transform: translate3d(-35px, -90px, 0) rotate(346deg);
  background: hsl(186, 100%, 50%);
  animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.hover-me:hover i:nth-of-type(23) {
  transform: translate3d(21px, -95px, 0) rotate(318deg);
  background: hsl(91, 100%, 50%);
  animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.hover-me:hover i:nth-of-type(24) {
  transform: translate3d(-19px, -65px, 0) rotate(238deg);
  background: hsl(85, 100%, 50%);
  animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.hover-me:hover i:nth-of-type(25) {
  transform: translate3d(-62px, -81px, 0) rotate(298deg);
  background: hsl(312, 100%, 50%);
  animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.hover-me:hover i:nth-of-type(26) {
  transform: translate3d(-62px, -66px, 0) rotate(58deg);
  background: hsl(242, 100%, 50%);
  animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.hover-me:hover i:nth-of-type(27) {
  transform: translate3d(8px, -54px, 0) rotate(259deg);
  background: hsl(210, 100%, 50%);
  animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.hover-me:hover i:nth-of-type(28) {
  transform: translate3d(-6px, -89px, 0) rotate(294deg);
  background: hsl(84, 100%, 50%);
  animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.hover-me:hover i:nth-of-type(29) {
  transform: translate3d(-33px, -63px, 0) rotate(179deg);
  background: hsl(15, 100%, 50%);
  animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.hover-me:hover i:nth-of-type(30) {
  transform: translate3d(-30px, -70px, 0) rotate(286deg);
  background: hsl(235, 100%, 50%);
  animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.hover-me:hover i:nth-of-type(31) {
  transform: translate3d(-1px, -70px, 0) rotate(142deg);
  background: hsl(220, 100%, 50%);
  animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.hover-me:hover i:nth-of-type(32) {
  transform: translate3d(39px, -91px, 0) rotate(338deg);
  background: hsl(268, 100%, 50%);
  animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.hover-me:hover i:nth-of-type(33) {
  transform: translate3d(7px, -85px, 0) rotate(281deg);
  background: hsl(197, 100%, 50%);
  animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.hover-me:hover i:nth-of-type(34) {
  transform: translate3d(-75px, -70px, 0) rotate(355deg);
  background: hsl(127, 100%, 50%);
  animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.hover-me:hover i:nth-of-type(35) {
  transform: translate3d(38px, -63px, 0) rotate(170deg);
  background: hsl(344, 100%, 50%);
  animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.hover-me:hover i:nth-of-type(36) {
  transform: translate3d(-77px, -91px, 0) rotate(21deg);
  background: hsl(275, 100%, 50%);
  animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.hover-me:hover i:nth-of-type(37) {
  transform: translate3d(-30px, -68px, 0) rotate(337deg);
  background: hsl(329, 100%, 50%);
  animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.hover-me:hover i:nth-of-type(38) {
  transform: translate3d(68px, -94px, 0) rotate(276deg);
  background: hsl(53, 100%, 50%);
  animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.hover-me:hover i:nth-of-type(39) {
  transform: translate3d(-19px, -70px, 0) rotate(289deg);
  background: hsl(325, 100%, 50%);
  animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.hover-me:hover i:nth-of-type(40) {
  transform: translate3d(17px, -61px, 0) rotate(125deg);
  background: hsl(10, 100%, 50%);
  animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.hover-me:hover i:nth-of-type(41) {
  transform: translate3d(-20px, -74px, 0) rotate(39deg);
  background: hsl(328, 100%, 50%);
  animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.hover-me:hover i:nth-of-type(42) {
  transform: translate3d(-88px, -60px, 0) rotate(297deg);
  background: hsl(228, 100%, 50%);
  animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.hover-me:hover i:nth-of-type(43) {
  transform: translate3d(-70px, -93px, 0) rotate(298deg);
  background: hsl(268, 100%, 50%);
  animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.hover-me:hover i:nth-of-type(44) {
  transform: translate3d(-24px, -99px, 0) rotate(333deg);
  background: hsl(88, 100%, 50%);
  animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.hover-me:hover i:nth-of-type(45) {
  transform: translate3d(14px, -73px, 0) rotate(74deg);
  background: hsl(359, 100%, 50%);
  animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.hover-me:hover i:nth-of-type(46) {
  transform: translate3d(83px, -98px, 0) rotate(230deg);
  background: hsl(272, 100%, 50%);
  animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.hover-me:hover i:nth-of-type(47) {
  transform: translate3d(34px, -75px, 0) rotate(119deg);
  background: hsl(92, 100%, 50%);
  animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.hover-me:hover i:nth-of-type(48) {
  transform: translate3d(-14px, -88px, 0) rotate(249deg);
  background: hsl(288, 100%, 50%);
  animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.hover-me:hover i:nth-of-type(49) {
  transform: translate3d(29px, -76px, 0) rotate(207deg);
  background: hsl(238, 100%, 50%);
  animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.hover-me:hover i:nth-of-type(50) {
  transform: translate3d(-92px, -61px, 0) rotate(152deg);
  background: hsl(153, 100%, 50%);
  animation: bang 700ms ease-out forwards;
  opacity: 0;
}

/*# sourceMappingURL=blank_css.css.map */
